<mat-card class="example-box" cdkDrag>
  <mat-card-header>
    <div mat-card-title>{{ task.title }}</div>
  </mat-card-header>
  <mat-card-content>
    <p class="task-description">{{ task.description }}</p>
    <p class="task-date">{{ task.date | date : "short" }}</p>
  </mat-card-content>
  <div class="task-actions">
    <button mat-icon-button color="primary" (click)="onEditTask()">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button color="warn" (click)="onDeleteTask()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</mat-card>
