/* card.component.css */
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  max-width: 100%;
}

.columns-container {
  display: flex;
  flex-wrap: wrap; /* Ajuste para permitir que as colunas quebrem a linha conforme necessário */
  justify-content: center;
  width: 100%; /* Garante que o container das colunas ocupe toda a largura disponível */
}

.example-container {
  width: 350px;
  margin: 10px;
  height: auto;
  flex: 1 1 300px; /* Define a largura mínima e máxima para as colunas */
  max-width: 100%; /* Garante que a coluna não ultrapasse o card pai */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.example-list {
  min-height: 200px;
  background: #f9f9f9;
  border-radius: 4px;
  padding: 10px;
}

.add-column-button {
  margin-top: 20px;
}

.header-content {
  display: flex;
  align-items: center;
}

.add-button {
  color: green;
  margin-left: auto;
}

.mat-button-with-icon {
  font-size: 50px; /* Tamanho da fonte do ícone */
  width: 36px; /* Largura do botão */
  height: 36px; /* Altura do botão */
}
